* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(125, 125, 44);
}

.logo {
    margin-left: 150px;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 150px;
}

ul a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}








.about {
    text-align: center;
    background-color: antiquewhite;
}

.about h1 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    text-align: center;
    max-width: 300px;
}

.card h2 {
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.card p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .card {
        max-width: 90%; /* Карточки займут большую часть экрана */
    }

    .cards {
        gap: 20px; /* Уменьшаем расстояние между карточками */
    }
}


.menu {
    background-color: rgb(250, 242, 232);
}

.menu h1 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.burgers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.burger-info {
    text-align: left;
    margin-left: 20px;
}

.burger-card, .pizza-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем элементы внутри карточки */
    align-items: center; /* Центрируем по горизонтали */
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box; /* Учитываем отступы */
}

.burger-card p, .pizza-card p {
    min-height: 60px; /* Задаем минимальную высоту для описания */
    margin-bottom: 20px;
}


.pizza-card {
    border: 1px, solid, rgb(138, 129, 104);
    margin-bottom: 50px;
}

.burger-card img, .pizza-card img{
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}

.burger-card h2, .pizza-card h2{
    min-height: 60px; /* Задаем минимальную высоту для описания */
    margin-bottom: 20px;
}



.burger-card button, .pizza-card button {
    background-color: red;
    border: none;
    border-radius: 35px;
    width: 220px;
    height: 60px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}





.pizza {    
    margin-top: 50px;
    background-image: url(img/burger/back.png);
    background-color: rgba(255, 255, 255, 0.8); /* Белый цвет с 50% прозрачностью */
    background-blend-mode: overlay; /* Смешивание изображения и цвета */
}

.pizza-menu {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}


.rolls {    
    background-color: rgb(250, 242, 232);
}

.rolls-menu {    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}



.about-section {
    display: flex;
    justify-self: center;
    align-items: center;
    background-image: url(img/burger/back.png);
    background-color: rgba(213, 250, 255, 0.8); /* Белый цвет с 50% прозрачностью */
    background-blend-mode: overlay; /* Смешивание изображения и цвета */
    position: relative; /* Для позиционирования содержимого */
    padding: 20px; /* Отступы вокруг секции */
}

.image-content {
    width: 1200px; /* Ширина области */
    height: 500px; /* Высота области */
    overflow: hidden; /* Скрыть всё лишнее */
    position: relative;
    margin-right: 100px;
    border-radius: 15px;

}

.image-content img {
    position: absolute;
    width: auto;
    height: 100%; /* Растягивает изображение по высоте */
    object-fit: cover; /* Подстраивает содержимое */
    object-position: center; /* Выравнивание по центру */
}

.text-content {
    background-color: rgb(250, 242, 232);
    padding: 20px; /* Внутренние отступы текста */
    z-index: 2; /* Поверх изображения */

    max-width: 700px;
    margin-right: -150px; /* Сдвиг текста вверх */
    margin-left: 100px;
    padding-left: 40px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Лёгкая тень для текста */
    border-radius: 15px;
}

.text-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.75em;
}

.text-content button {
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 35px;
    background-color: rgba(89, 194, 0, 1);
    color: white;
    font-size: 16px;
}
.text-content button:hover {
    background-color: rgb(153, 223, 49);
    cursor: pointer;
}